@media screen and (min-width: 768px) {
  nav {
    position: static;
    width: auto;
    height: auto;
  }
  .nav-daftar {
    flex-direction: row;
    position: static;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    backdrop-filter: none;
    width: 100%;
    height: auto;
    transition: top 0.5s ease-in-out;
    gap: 3rem;
  }

  .nav-item {
    text-decoration: none;
    font-size: 15px;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    font-weight: 700;
    text-shadow: transparent;
    font-weight: bold;
  }

  .nav-toggle {
    display: none;
    position: absolute;
    top: 0;
  }

  .makanan-section {
    flex-direction: column;
  }
}

@media screen and (min-width: 1024px) {
  .nav-daftar {
    gap: 4rem;
  }
}

@media screen and (min-width: 1200px) {
  .nav-daftar {
    gap: 5rem;
  }

  main {
    max-width: 1000px;
  }
}
